doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/static/index.css')
  body
  
    #signup_contanier
      input#signup_input(type='text', placeholder='username')
      button#signup_button Signup
      a(href='#signin') signin
      
    #chat_container(style='display:none')
      p Messages
      ul#messages_container
      textarea#message_input
      button#message_button Send
      p Online users
      ul#users_container
    
    #login_container(style='display:none')
      input#login_input(type='text', placeholder='username')
      button#login_button Login
      a(href='#signup') signup
  
    script(src='https://cdn.socket.io/socket.io-1.1.0.js')
    script(src='/static/index.js')